@import url("https://fonts.googleapis.com/css2?family=Calistoga&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import "tailwindcss";

@theme {
  --font-body: "Lora", serif;
  --font-headings: "Calistoga", serif;

  --color-main-bg: #f8f9fa;
  --color-custom-green: #2ecc71;
}

body {
  font-family: var(--font-body);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url("/custom-cursor.png"), auto;
}

nav {
  @apply fixed top-0 z-50 w-full h-12 flex flex-row justify-between items-center transition-colors duration-500;
}

.nav-scrolled {
  @apply bg-custom-green  px-4;
}

.nav-default {
  @apply bg-transparent px-8;
}
