@import url("https://fonts.googleapis.com/css2?family=Calistoga&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import "tailwindcss";

@theme {
  --font-body: "Lora", serif;
  --font-headings: "Calistoga", serif;

  --color-main-bg: #f8f9fa;

  --animate-custom-bounce: bounce 1s ease-in-out infinite;
  --animate-wiggle: wiggle 0.3s ease-in-out 10;

  /* Keyframes for the wiggle animation */
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(5deg);
    }
    75% {
      transform: rotate(-5deg);
    }
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* cursor: url("/custom-cursor.png"), auto; */
}

nav {
  @apply w-full max-w-full fixed top-0 z-50 h-12 flex flex-row justify-between items-center sm:px-8 px-4;
}

.nav-scrolled {
  @apply bg-white/90 backdrop-blur-sm;
}

.nav-default {
  @apply bg-transparent backdrop-blur-none;
}

.masked-text {
  color: transparent;
  background-image: url("./assets/terminal.jpg");
  background-size: 200%;
  background-position: 0 50%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-text-background 3s infinite alternate linear;
}

@keyframes animate-text-background {
  0% {
    background-position: 0 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}